@CHARSET "UTF-8";
body {
	background-image: url("../../../images/instagram/goldengate.jpg");
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
	line-height: 1.75;
	text-align: center;
}

#combine{
	margin: auto; 
	width: 80em;
	height: 40em;
	position: relative;
}
#form{
	background-position: center top;
	background-attachment: fixed;
	margin: auto;
	line-height: 1.75;
	text-align: center;
	width: 50%;
	background-color: white;
	border-radius: 20px;	
}

#submit{	
	margin-bottom:2px;
	width:150px;
	height:50px;
	padding:0;
	background-color: #ff6699;	
}

input[type=text]{
	margin-left:100px;	
	width:500px;
}
textarea{
		margin-left:100px;	
		width:500px;
}


#banner {
	border-radius:10px;
	text-align: left;
	width:9em;
	background-color: white;
	position: absolute;
	top: 150px;
	border-collapse: none;
	border: none;
	
}
#banner td{
	text-align:center;
	padding:3px;
}
#darkerlast{
background-color: rgba(77, 77, 77,0.3);	
border-radius:0 0 10px 10px;	
}
#darker{
background-color: rgba(77, 77, 77,0.3);
	
}
#banner a{
	color:black;
	text-decoration:none;
}
#banner a:hover{
	color:grey;
	font-weight: bolder;
	}

