/* 회원정보 관리에 관한 스타일 */
.clear {
	clear: both;
}

/* 회원정보로 들어가기전 팝업 메뉴 시작 */
div.memberManagerNav {
	padding: 0;
	margin: 0;
	border: 2px solid #000;
	box-shadow: 2px 2px 5px #333;
	background-color: white;
	position: fixed;
	right: 5px;
	top: 6em;
	width: 305px;
	height: 124px;
	display: none;
	z-index: 9;
}

div.memberManagerNav img {
	float: left;
}

div.memberManagerNav ul {
	position: absolute;
	padding: 0;
	left: 105px;
	top: 10px;
}

div.memberManagerNav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.memberManagerNav li a {
	display: block;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #777;
	padding: 4px 62px;
	margin: 4px 2px 3px 3px;
	font-size: 0.9em;
	color: #888;
}

div.memberManagerNav li a:hover {
	background-color: #f0f0f0;
	color: #FF8224;
}

/* 회원정보로 들어가기전 팝업 메뉴 끝 */

/* --------------------------------------- */

/* 회원정보 관리 페이지  시작 */

/* 프로필 사진 확대 미리보기, 회원정보 페이지, 회원관리 페이지 */
.profileImg_enl { /* 기존 이미지 */
	position: fixed;
	z-index: 10;
	display: none;
	right: 0;
	bottom: 0;
}

#profileImg_enl { /* 새로운 이미지 */
	position: fixed;
	z-index: 10;
	visibility: hidden;
	right: 0;
	bottom: 0;
	progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
}

/* 메인 전체 */
section.memberManager {
	/* 배경화면 */
	background-image: url("../../../images/member/back/join.png");
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

div.container {
	position: relative;
	min-height: 600px;
}

/* 서브메뉴 */
div#submenu {
	border: 3px solid #ccc;
	border-radius: 10px;
	width: 200px;
	min-height: 480px;
	position: absolute;
	padding: 1px;
	background-color: #fff;
	opacity: 0.9;
}

div#submenu ul {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: "나눔 고딕", "맑은고딕", sans-serif;
	list-style: none;
}

div#submenu li {
	padding: 0;
	margin: 0;
}

div#submenu li a {
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0366d6;
	display: block;
	margin: 0;
	padding: 5px 0 5px 5px;
	margin: 0;
}

div#submenu li a:hover {
	background-color: #f0f0f0;
	color: #FF5E00;
	font-weight: bold;
}

div#submenu li hr {
	margin: 20px 7px 20px 7px;
	background-color: #ddd;
}

/* 컨텐츠 부분 공통 */
div.content {
	border: 3px solid #ccc;
	border-radius: 10px;
	background-color: #fff;
	padding: 0;
	width: 80%;
	min-width: 900px;
	min-height: 600px;
	position: relative;
	left: 230px;
	opacity: 0.9;
}

div.content h1 {
	text-shadow: 2px 2px 2px #ffb3b3;
}

section.memberManager input:FOCUS { /* 회원관리 페이지의 모든 input:focus */
	font-weight: bold;
	color: blue;
}

/* 회원정보 memberInfo.jsp */
div.content_member_info {
	/* border: 1px solid #ccc; */
	
}

div.content_member_info h1 { /* 제목 */
	border-bottom: 1px solid #ccc;
	padding: 12px;
	margin-bottom: 10px;
	font-size: 1.4em;
}

div.content_member_info .info_form tr {
	border: none;
	background-color: #fff;
}

div.content_member_info .info_form th {
	width: 15%;
	border: none;
}

div.content_member_info .info_form td {
	border: none;
}

div.content_member_info .info_form input[type="text"] {
	border: 1px solid #ccc;
	background-color: rgba(255, 255, 255, 0.1);
	width: 90%;
}

div.content_member_info .info_form p { /* 프로필사진 추천 사이즈 팁 */
	margin-bottom: 0;
}

div.content_member_info .info_form img { /* 프로필 사진 */
	border: 1px solid #f0f0f0;
	margin: 0;
	float: left;
}

div.content_member_info .info_form img#right_arrow {
	/* 미리보기 이미지 가르키는 화살표 div */
	width: 70px;
	height: 70px;
	margin-left: 30px;
	margin-top: 20px;
	border: none;
	display: none;
}

div.content_member_info .info_form div#previewImg {
	/* 이미지 바뀔때 미리보기 div */
	width: 100px;
	height: 120px;
	position: absolute;
	margin-left: 35px;
	display: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
}

div.content_member_info .info_form .form_btn {
	text-align: center;
	padding: 10px;
}

div.content_member_info .info_form .form_btn input[type="submit"] {
	margin-right: 40px;
}

/* 비밀번호 변경 memberPassUpdate.jsp */
div.content_member_passUpdate {
	/* border: 1px solid #ccc; */
	
}

div.content_member_passUpdate h1 { /* 제목 */
	border-bottom: 1px solid #ccc;
	padding: 12px;
	margin-bottom: 10px;
	font-size: 1.4em;
}

div.content_member_passUpdate .pass_form tr {
	border: none;
	background-color: #fff;
}

div.content_member_passUpdate .pass_form td {
	border: none;
}

div.content_member_passUpdate .pass_form th {
	width: 150px;
}

div.content_member_passUpdate .pass_form input[type="password"] {
	border: 1px solid #ccc;
	background-color: rgba(255, 255, 255, 0.1);
}

div.content_member_passUpdate .pass_form .form_btn {
	text-align: center;
	padding: 10px;
}

div.content_member_passUpdate .pass_form .form_btn input[type="submit"]
	{
	margin-right: 40px;
}

/* 회원 탈퇴 */
div.content_member_memberDelete {
	/* border: 1px solid #ccc; */
	
}

div.content_member_memberDelete h1 {
	font-size: 1.4em;
	padding: 12px;
	border-bottom: 1px solid #ccc;
}

div.content_member_memberDelete .pass_form {
	width: 60%;
	min-width: 450px;
	padding: 30px;
	margin: 0 auto;
}

div.content_member_memberDelete .pass_form label {
	font-size: 1.2em;
}

div.content_member_memberDelete .pass_form input[type="submit"] {
	display: block;
	margin: 30px auto;
}

/* 회원관리 페이지(관리자 전용, memberManager.jsp) */
div.content_member_memberManager {
	/* border: 1px solid #ccc; */
	margin: 0;
	padding: 0 0 30px 0;
	min-width: 720px;
}

div.content_member_memberManager a {
	text-decoration: none;
}

div.content_member_memberManager h1 {
	font-size: 1.4em;
	padding: 12px;
	margin: 0;
}

div.content_member_memberManager table {
	display: block;
}

div.content_member_memberManager th {
	padding: 0px;
	text-align: center;
}

div.content_member_memberManager th.th_img {
	/* width: 10px; */
	width: 2%;
}

div.content_member_memberManager th.th_id {
	/* width: 260px; */
	width: 33%;
}

div.content_member_memberManager th.th_nick {
	/* width: 300px; */
	width: 33%;
}

div.content_member_memberManager th.th_name {
	/* width: 120px; */
}

div.content_member_memberManager th.th_auth {
	/* width: 100px; */
	width: 11%;
}

div.content_member_memberManager th.th_delete {
	/* width: 100px; */
	width: 11%;
}

div.content_member_memberManager th.a:hover {
	cursor: pointer;
}

div.content_member_memberManager td {
	padding: 0;
	text-align: center;
}

div.content_member_memberManager td.id_td {
	cursor: pointer;
}

div.content_member_memberManager img {
	width: 50px;
	height: 50px;
	margin: 0 0 -19px 0;
}

div.content_member_memberManager .page a:hover {
	background-color: #f0f0f0;
	color: orange;
}

div.content_member_memberManager td.auth_select_box div {
	width: 135px;
	margin: 0 0 0 30px;
	padding: 5px 0 5px 20px;
}

div.content_member_memberManager td.auth_select_box label {
	margin: 1px 20px 0 0;
	float: left;
}

div.content_member_memberManager td.auth_select_box select {
	margin-left: -30px;
	width: 140px; /* default 110 */
	height: 38px;
}

div.content_member_memberManager td.auth_select_box select:hover {
	background-color: #D4F4FA;
	cursor: pointer;
}

div.content_member_memberManager option {
	height: 20px;
}

div.content_member_memberManager div.search_div {
	position: relative;
	width: 490px;
	height: 60px;
	float: right;
}

div.content_member_memberManager div.search_div select {
	float: left;
	width: 100px;
	height: 30px;
	margin-right: 1px;
	padding-left: 10px;
	font-size: 14px;
}

div.content_member_memberManager div.search_div input[type="text"] {
	float: left;
	width: 240px;
	height: 30px;
	padding-left: 30px;
	font-size: 0.8em;
}

div.content_member_memberManager div.search_div img.search_img {
	position: absolute;
	width: 20px;
	height: 20px;
	margin: 5px 0 5px 5px;
	left: 101px;
}

div.content_member_memberManager div.search_div input[type="submit"] {
	width: 120px;
	height: 30px;
	line-height: 0;
	font-size: 14px;
	text-align: center;
	margin-left: 10px;
}

div.content_member_memberManager .page {
	text-align: center;
}

div.content_member_memberManager .page a {
	border: 1px solid #ccc;
	padding: 4px 7px;
	font-size: 1.2em;
	font-weight: bold;
}

/* adminMemberInfo.jsp */
div.adminMemberInfo { /* 서브메뉴 + 주내용 */
	
}

div.adminMemberInfo h1 { /* 제목 */
	border-bottom: 1px solid #ccc;
	padding: 12px;
	margin-bottom: 10px;
	font-size: 1.4em;
}

div.adminMemberInfo div.inner_content { /* 제목뺀 내용들 */
	max-width: 700px;
	margin: 0 auto;
}

div.adminMemberInfo img { /* 프로필 이미지 */
	display: block;
	margin: 0 auto 30px auto;
	max-width: 700px;
	max-height: 600px;
}

div.adminMemberInfo th {
	width: 90px;
	border-right: 1px solid #ccc;
}

div.adminMemberInfo td {
	width: 350px;
	position: relative;
	padding-left: 30px;
}

div.adminMemberInfo td input[type="text"] { /* 닉네임 폼 */
	border: none;
	background-color: #fff;
	width: 240px;
}

div.adminMemberInfo .update_btn { /* 수정 버튼 */
	display: inline;
	position: absolute;
	top: -10px;
	left: 280px;
	font-size: 0.9em;
}

div.adminMemberInfo input[type="button"] {
	display: block;
	margin: 20px auto;
}

/* 관리자 DB 관리 페이지 */
div.DBManager {
	padding: 30px;
}

/* 회원정보 관리 페이지  끝 */